@charset "utf-8";


/* ============================================================
共通設定
============================================================= */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: #fffdf9;
  color: #3f271a;
  font-family: zen-maru-gothic, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.05em;
}

/* トップページの後ろのgradation */
#index {
  background: rgb(255, 255, 255);
  background: linear-gradient(20deg, rgba(255, 255, 255, 1) 0%, rgba(216, 252, 251, 1) 6%, rgba(64, 205, 199, 1) 18%, rgba(108, 171, 209, 1) 28%, rgba(183, 198, 154, 1) 38%, rgba(243, 200, 106, 1) 48%, rgba(243, 153, 106, 1) 59%, rgba(243, 106, 106, 1) 65%, rgba(148, 101, 165, 1) 74%, rgba(66, 49, 104, 1) 85%, rgba(11, 15, 63, 1) 100%);
  background-size: 300% 400%;
  /*サイズを大きくひきのばす*/
  animation: bggradient 30s ease infinite;
}

@keyframes bggradient {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul,
ol {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: #3f271a;
  transition: .3s;
}


a:hover {
  /* 透過 */
  opacity: 0.5;
  transform: translate(0, 3%);
}

.wrapper {
  max-width: 1200px;
  width: calc(100% - 4%);
  margin: 0 auto;
}

.sec {
  padding: 80px 0;
}


.flex {
  display: flex;
}

.grid {
  display: grid;
}


/* スマホの時に見出しに改行させる */
.sp_br {
  display: none;
  /* 768px以上では改行タグを無効に。 */
}

@media screen and (max-width: 768px) {
  .sp_br {
    display: block;
    /* 768px未満で改行タグを有効に。 */
  }
}


/* ====================
  =======header=========
  ===================== */
.header-inner {
  max-width: 1200px;
  height: 88px;
  margin: 0 auto;
  font-family: "jumble", sans-serif;
  color: #fff;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  line-height: 1;
}

h1 img {
  height: 80px;
  width: auto;
}

.gnav_list {
  justify-content: center;
}

.gnav_item {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  padding: 0 1rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

#index .gnav_item a {
  color: #fafafa;
}


.gnav_item span {
  font-weight: normal;
  font-size: 0.75rem;
  display: block;
}


footer {
  text-align: center;
  height: 32px;
  margin-bottom: 1rem;
}


/* ===================================
===========header======================
======================================= */

/* 三本線　位置設定*/
.hamburger .btn-gNav {
  position: fixed;
  top: 32px;
  right: 32px;
  width: 30px;
  height: 24px;
  z-index: 100;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

/* 通常時非表示 */
.btn-gNav {
  display: none;
}

/* 三本線の見た目 */
.hamburger .btn-gNav span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #f2f2f2;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger_span1 {
  top: 0;
}

.hamburger_span2 {
  top: 10px;
}

.hamburger_span3 {
  top: 20px;
}

.gnav.open .hamburger_span1 {
  background: #d43232;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 開いたときの２本目と３本目 */
.gnav.open .hamburger_span2,
.gnav.open .hamburger_span3 {
  top: 6px;
  background: #d43232;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media screen and (max-width:768px) {
  .btn-gNav {
    display: block;
  }

  /* 通常時は右に隠れている */
  header .gnav {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fae9d9;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 1000;
    padding-top: 50px;
    transition: .3s;
  }

  /* JSでopenがきたら右からやってくる */
  header .gnav.open {
    right: 0;
  }

  header .gnav ul {
    width: 100%;
    display: block;
    flex-direction: column;
    text-align: center;
  }

  header .gnav ul li {
    width: 86%;
    padding: 15px;
  }

  #index .gnav_list .gnav_item a {
    color: #3f271a;
  }

}



/* =========================================
  =======================================
  TOPページ==============================
  ====================================== */
#index main {
  height: calc(100vh - 120px);
  align-items: center;
}

.lottie_contaner {
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 4%;
}

#mainvisual {
  max-width: 800px;
  height: auto;
}

/* ゆらゆら揺れる後ろの背景 */
.fluid {
  background: #fafafa;
  /*背景色*/
  animation: fluidrotate 30s ease 0s infinite;
  /*アニメーションの設定*/
}

@keyframes fluidrotate {

  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.roop_bg {
  background-image: url(../img/top/top_bg.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: roopbg 20s linear infinite;
  background-size: auto 50%;
  /* mix-blend-mode: overlay; */
  background-blend-mode: overlay;
}

@keyframes roopbg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100% 0;
  }
}


/* =================================
============products================
==================================== */

/*==================================================
ギャラリーのためのcss
===================================*/
.works_p {
  font-size: 14px;
}

.works_name {
  font-weight: bold;
}

.item-content img {
  margin-bottom: 0.5rem;

}

/*＝＝＝並び替えボタンのCSS*/
.sort-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;

}

.sort-btn li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.sort-btn li.active {
  /*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
  color: #d43232;
  font-weight: bold;
}

/*横幅が480px以下になった際の指定*/
@media only screen and (max-width: 480px) {
  .sort-btn {
    justify-content: space-between;
  }

  .sort-btn li {
    width: 48%;
    margin: 0 0 10px 0;
    text-align: center;
  }
}

/*＝＝＝Muuriのレイアウトのための調整 */
.grid {
  position: relative;
  /*並び替えの基準点を指定*/
}

/*各画像の横幅などの設定*/
.item {
  display: block;
  position: absolute;
  width: 33%;
  /*横並びで3つ表示*/
  z-index: 1;
  list-style: none;
  padding: 1rem;
}

/*内側のボックスの高さが崩れないように維持*/
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/*画像の横幅を100%にしてレスポンシブ化*/
.grid img {
  width: 100%;
  height: auto;

}

/*横幅が768px以下になった際の指定*/
@media only screen and (max-width: 768px) {
  .item {
    width: 49.5%;
    /*横並びで2つ表示*/
  }
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
＝＝＝＝＝＝＝＝＝＝各作品紹介ページ＝＝＝
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.work_title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.work_title span {
  display: block;
  font-size: 18px;
}

.works_text_box {
  margin-bottom: 2rem;
  text-align: center;
  margin: 0 auto;
}

.imgMock {
  max-width: 880px;
  margin: 0 auto 5rem auto;
}

/* =====viewsite button======*/
.view_site_button {
  text-align: center;
  margin-bottom: 2rem;
}

.btn-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 16px;
  width: 400px;
  height: 40px;
  font-weight: bold;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(134deg, rgba(255, 196, 190, 1), rgba(236, 127, 119, 1) 100%, rgba(240, 226, 226, 1));
}


@media (max-width: 500px) {
  .btn-gradient {

    width: 100%;
  }
}

/* =====viewsite button ここまで======*/



.work_text {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.work_text dt {
  width: 300px;
  font-weight: bold;
  font-size: 22px;
  border-bottom: 1px solid #c3bfbf;
  margin-bottom: 1em;
}

.work_text dl {
  margin-bottom: 4rem;
}

.work_text_cont {
  margin-top: 2rem;
}

.work_text_cont span {
  display: inline-block;
  margin-bottom: 0.5em;
  text-indent: 1em;
}

.work_text_cont li {
  list-style-type: circle;
  margin-left: 3em;
}

.works_more {
  margin: 1rem 0 2rem 0;
  font-size: 12px;
  line-height: 1;
}



.works_color_li {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#kenko-animal .basecolor {
  background-color: #fcf2de;
}

#kenko-animal .maincolor {
  background-color: #ed8e23;
}

#kenko-animal .accentcolor {
  background-color: #89c4ec;
}

#lemansauto .basecolor {
  background-color: #1e1c1b;
}

#lemansauto .maincolor {
  background-color: #545353;
}

#lemansauto .accentcolor {
  background-color: #c1a362;
}

#myportfolio .basecolor {
  background-color: #fffdf9;
}

#myportfolio .maincolor {
  background-color: #fdb2b2;
}

#myportfolio .accentcolor {
  background-color: #ffc643;
}



.works_color {
  grid-template-columns: repeat(auto-fit, 105px);
  gap: 0.25rem;
}

.works_more_card {
  display: grid;
  grid-row: span 3;
  /*サブグリットの指定*/
  grid-template-rows: subgrid;
}

@media (max-width: 767px) {
  .work_text dt {
    display: block;
    width: 100%;
  }
}

/* =====================================
===========about me===============
=================================== */
/* =============================================
===================career road========================
================================================== */

/* .section {
  width: 100%;
  padding: 100px 0;
} */
.contents_inner {
  /* max-width: 1200px; */
  /* width: 80%; */
  margin: 0 auto;
}


.scroll {
  overflow: hidden;
  /* height: 100svh; */
  background-color: #ffc643;
}

.bg_yellow {
  background-color: #ffc643;
}

.scroll_container {
  width: 100%;
  height: 900px;
  /* height: calc(100svh - 150px); */
  position: relative;
  overflow: hidden;
}

.scroll_wrap {
  display: flex;
  column-gap: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

.scroll_box {
  /* font-size: 30px;
  font-weight: 700;
  color: #000000; */
  /* background-color: #eeeeee; */
  width: 320px;
  height: 500px;
}

.nen {
  font-size: 90px;
  margin-bottom: 0.5rem;
  position: relative;
  padding: 0.25em 0;
  font-family: "jumble", sans-serif;
  line-height: 1;
  color: #fafafa;
}



.nen:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.scroll_title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01rem;

}

.scroll_text {
  letter-spacing: 0.03rem;
  line-height: 1.8;
  padding: 0 1rem;
}

.car_img img,
.car_img {
  height: 400px;
}

/* ===============↓profileの基本設定 =========================
=============================================================*/



main {
  position: relative;
}

.profile_visual,
.name,
.sub_title {
  text-align: center;
}


.profile_visual {
  height: 90vh;
}

.sub_title {
  font-weight: normal;
  font-size: 36px;
  font-family: "jumble", sans-serif;
  line-height: 0.75;
  margin-top: 2rem;
}

.sub_title span {
  font-size: 18px;
}

.h2_hedding {
  font-family: "jumble", sans-serif;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  height: 300px;
  opacity: 0.2;
  font-size: 72px;
  margin-bottom: 1rem;
  position: absolute;
  position: fixed;
  z-index: -1;
  color: #ed8e23;
}

.visual {
  max-width: 1040px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.img_box {
  width: 48%;
  height: auto;
}

.profile_text {
  width: 50%;
  /* margin: 0 auto; */
}

.name h3 {
  font-size: 2rem;
}

.myname {
  font-size: 15px;
  margin-bottom: 2rem;
}


.profile_p {
  letter-spacing: 0.9px;
  line-height: 1.5;

}




.skill_box {
  position: relative;
  max-width: 1040px;
}

.skill_container {
  width: 600px;
  height: 800px;
  padding: 2rem 4rem;
  margin: 2em 0;
  background: rgb(255, 255, 255);
  border-top: solid 5px #ffa74f;
  box-shadow: 0 3px 5px rgba(49, 49, 49, 0.22);
  background-image: url(../img/aboutme/crisp-paper-ruffles.png);
}

@media screen and (max-width: 768px) {
  .skill_container {
    width: 100%;
    padding: 2rem 2rem;
  }

  .visual {
    flex-direction: column;
    align-items: center;
  }

  .img_box {
    width: 70%;
  }

  .profile_text {
    width: 90%;

  }
}

.skill_text {
  margin-bottom: 3rem;
}


.click_here {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  animation: click_here_anime 2s ease-in-out infinite;
  color: #3f271a;
}

@keyframes click_here_anime {

  0%,
  40% {
    transform: skew(0deg, 0deg);
  }

  5% {
    transform: skew(5deg, 5deg);
  }

  10% {
    transform: skew(-4deg, -4deg);
  }

  15% {
    transform: skew(3deg, 3deg);
  }

  20% {
    transform: skew(-2deg, -2deg);
  }

  25% {
    transform: skew(1deg, 1deg);
  }

  30% {
    transform: skew(-0.6deg, -0.6deg);
  }

  35% {
    transform: skew(0.3deg, 0.3deg);
  }
}





/* スキルボタン */
.skill_text_box {
  color: inherit;
}

.skill-sec {
  opacity: 0;
  display: none;
  transition: 0.5s opacity;
}



.skill_button ul {
  grid-template-columns: repeat(5, minmax(48px, 82px));
  gap: 8px;
  place-content: center;
  place-items: center;
}


.skill_button,
.skill_container h3 {
  text-align: center;
  align-items: center;
}

.skill_button ul {
  text-align: center;
}

.skill_item p {
  padding-top: 50px;
}

.skill-sec.open {
  opacity: 1;
  display: block;
}

.button_img1 {
  display: block;
  transition: 0.5s all;
  filter: brightness(0.75) drop-shadow(0 7px 0 #838383);
}


.button_link.open .button_img1 {
  filter: drop-shadow(0 1px 0 #838383);
  transform: translateY(6px);
}



/* スキル飾り */
.skill_img {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 100;
}

.skill_img_car {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 101;
}

@media screen and (max-width: 768px) {

  .skill_img,
  .skill_img_car ,
  .contact_car{
    display: none;
  }

  .water_text h3 {
    font-size: 38px;

  }
}

/* ===========================================
==========SKILLの波線文字=====================
============================================= */
.water_text {
  position: relative;
  height: 50px;
  margin-left: 1rem;
  margin-bottom: 2em;

}

.oil_img {
  position: absolute;
  top: 0;
  left: -50px;
  animation: oil 6s ease-in-out infinite;
}


@keyframes oil {

  0%,
  100% {
    transform: rotate(0);
  }

  50%,
  70% {
    transform: rotate(-30deg);
  }
}


.water_text h3 {
  position: absolute;
  transform: translate(0, 0);
  font-size: 50px;
  white-space: nowrap;

}

.water_text .water1 {
  color: transparent;
  -webkit-text-stroke: 0.5px #df5252;
}

.water_text .water2 {
  color: #df5252;
  animation: wave 6s ease-in-out infinite;
}

.water_text .water3 {
  color: #df5252;
  animation: wave2 6s ease-in-out infinite;
}

@keyframes wave {

  0%,
  100% {
    clip-path: polygon(0 32%, 10% 65%, 18% 55%, 35% 50%, 28% 50%, 50% 40%, 70% 35%, 100% 25%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 50%, 14% 40%, 15% 50%, 30% 42%, 46% 30%, 61% 30%, 70% 40%, 100% 50%, 100% 100%, 0% 100%);
  }
}


@keyframes wave2 {

  0%,
  100% {
    clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
  }
}

.time_study {
  background: #e25124;
  color: #fafafa;
  border-radius: 8px;
  padding: 4px 20px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.skill-sec__container ul {
  list-style-type: disc;
  margin-left: 3rem;
  margin-bottom: 2rem;
}



.box {
  height: 100svh;
  text-align: center;
  font-size: 3rem;
}

#scrolly-video {
  min-width: 100vh;

  min-height: 100vh;
  z-index: -1;
  /* 弟要素に文字が入るなら必須 */
}

/*==========CONTACT ==================*/
.contact {
  text-align: center;

}

.contact h3 {
  font-size: 40px;
}
.contact h3 ::after{
    content: url(../img/top/array.png);
    position: relative;
    top: 7px;
    padding-left: 5px;
}

.contact_car {
  margin-top: 4rem;
  animation: contact_car 8s ease infinite;

}


@keyframes contact_car {
  0% {
    opacity: 0;
    /* transform: scale(100); */
  }

  15% {
    transform: rotateX(20deg);
  }


  30% {
    opacity: 1;
    transform: scale(1);

  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.mame_box {
  text-align: center;
  animation: mame_go 2s ease infinite;
}

.mame_box .click_here {
  font-family: "jumble", sans-serif;
  font-size: 64px;
  color: #d43232;
  line-height: 1;
  margin-top: 2rem;
}

@keyframes mame_go {

  0%,
  100% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-10deg);
  }
}

.back_page {
  font-weight: bold;
  color: #3f271a;
  transition: all 0.8s ease 0.2s;
  position: relative;
  padding-left: 28px;
}

.back_page::before {
  position: absolute;
  left: 0;
  content: url('../img/works/handle.png');
  transition: all 0.5s ease;

}

.back_page{
  font-weight: bold;
  color: #3f271a;
  transition: all 0.8s ease 0.2s;
  position: relative;
  padding-left: 28px;


}
.back_page::before{
  position: absolute;
  left: 0;
  content: url('../img/works/handle.png');
  transition: all 0.5s ease ;

}


.back_page:hover{
  opacity: 0.5;
  transform: translate(-16px,0);
  
}

.back_page:hover:before{
  transform: rotate(-45deg);
}


.back_page:hover {
  opacity: 0.5;
  transform: translate(-16px, 0);

}

.back_page:hover:before {
  transform: rotate(-45deg);
}


#aboutme_footer {
  background: #ffc643;
  margin: 0 auto;
}


.c-form {
  max-width: 800px;
  margin: 0 auto;
}

.c-form__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.c-form__label,
.c-form__input {
  padding: 1rem;
}

.c-form__label {
  width: 40%;
  text-align: left;
}

.c-form__input {
  width: 55%;
  font-size: 16px;
  border: solid 1px #3f271a;
  border-radius: 4px;
}

.c-form__input:focus-visible {
  outline: #df5252 auto 1px;
}

.c-form__required {
  color: #fafafa;
  background-color: #d43232;
  border-radius: 4px;
  padding: 5px 8px;
  margin: 0 0 0 18px;
}

textarea.c-form__input {
  height: 160px;
}

.c-form__submit {
  text-align: center;
}

.c-form__submit button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(134deg, rgba(255, 196, 190, 1), rgba(236, 127, 119, 1) 100%, rgba(240, 226, 226, 1));
  border-radius: 4px;
  padding: 1rem 8rem;
  transition: 0.4s;
  cursor: pointer;
}

.c-form__submit button:hover {
  opacity: 0.5;
  transform: translate(0, 5%);
  background-color: transparent;

}

@media (max-width: 768px) {
  .c-form__item {
    flex-wrap: wrap;
  }

  .c-form__label {
    width: 90%;
  }

  .c-form__input {
    width: 80%;
  }
}

.char {
  transform: translateY(100px);
  transition: transfrom 0.5s;
  /* transform: translateY(-100px); テキストを上から出したい時*/
}